# Python virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Python cache
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/